{% extends 'base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}User {{ code }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/main_form.css' %}" />
    <script>
        var clusters_data = {{ clusters_data | safe }};

        $(document).ready(function() {
            $('.info_msg').fadeOut(3000, function(){
                $(this).remove();
            });

            $(".accordion").click(function(){
                $(this).next(".panel").toggleClass("table");
            });

            $('input[name="clusters"]').on('change', function () {
                var cluster_info = $('<div id="cluster_info"><hr></div>');

                var cluster_id = $(this).val();
                var item_container = $('<div class="items_container"></div>');
                var cl_data = clusters_data[cluster_id];

                cl_data["items"].forEach(function (item) {
                    var name = item["name"];
                    if (item["url"] !== null) {
                        name = $('<a href="' + item["url"] + '" target="_blank">' + name + '</a>');
                    }

                    var label = $("<label></label>");
                    var radio_input = $('<input type="radio" name="cluster_items" value="' + item["id"] + '"/>');
                    if ("checked" in item) {
                        radio_input.prop("checked", true);
                    }
                    label.append(radio_input);
                    label.append('<img src="' + item["image_url"] + '">');

                    var item_div = $('<div class="item"></div>');
                    item_div.append(label);
                    item_div.append(name);

                    item_container.append(item_div.clone());
                });

                cluster_info.append('<div class="label">Cluster #' + cluster_id + '</div>');
                cluster_info.append('<div class="cluster_descr">' + cl_data["descr"] + '</div>');
                cluster_info.append(item_container);
                $("#cluster_info").fadeOut(300, function () {
                    $("#cluster_info").html(cluster_info).fadeIn(300);
                });
            });
        });
    </script>
{% endblock %}

{% block header %}
    <a href="{% url 'main:recsreviewlist' %}">&laquo To the list of reviews</a>
{% endblock %}

{% block content %}
    {% if info_message %}
        <div class="message info_msg">{{ info_message }}</div>
    {% endif %}

    {% for err_msg in error_messages %}
        <div class="message error_msg">{{ err_msg }}</div>
    {% endfor %}

    {{ qa_form.non_field_errors }}

    <!-- user info -->
    <h2>User {{ review_obj.hh_user }}</h2>
    <div class="left">
    {% if last5_items %}
        <h2>Last booked items:</h2>

        <div class="items_container">
        {% for item in last5_items %}
            <div class="item">
                <img src="{{ item.image_url }}">
                {% if item.obj.uri %}
                    <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                {% else %}
                    {{ item.name }}
                {% endif %}
            </div>
        {% endfor %}
        </div>

        <button id="descr" type="button" class="accordion btn">Description</button>
        <div class="panel">
            <p>{{ descr }}</p>
        </div>
    {% endif %}
    </div>

    <!-- recs info -->
    <div class="right">
    {% if items %}
        <h2>Recommendations:</h2>
        <form id="recs_form" action="{% url 'main:recsreviewview' review_obj.pk %}" method="post">
        {% csrf_token %}

            <div class="items_container">
            {% for item in items %}
                <div class="item">
                    <label>
                        <input type="checkbox" name="items" value="{{ item.id }}" {% if item.selected %}checked{% endif %}/>
                        <img src="{{ item.image_url }}">
                    </label>

                    {% if item.url %}
                        <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </div>
            {% endfor %}
            </div>

            <br>

            <div class="label">Rate the following statements</div>
            <table class="likert">
                <thead>
                    <tr>
                        <th class="statement"></th>
                        {% for radio in qa_form.quality_qa %}
                            <th class="choice">{{ radio.choice_label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="statement">{{ qa_form.quality_qa.label }}</td>
                        {% for radio in qa_form.quality_qa %}
                            <td class="choice">{{ radio.tag }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="statement">{{ qa_form.diversity_qa.label }}</td>
                        {% for radio in qa_form.diversity_qa %}
                            <td class="choice">{{ radio.tag }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <br>

            <div class="label">Mark the items above and rate the following statements</div>
            <table class="likert">
                <thead>
                    <tr>
                        <th class="statement"></th>
                        {% for radio in qa_form.easiness_qa %}
                            <th class="choice">{{ radio.choice_label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="statement">{{ qa_form.easiness_qa.label }}</td>
                        {% for radio in qa_form.easiness_qa %}
                            <td class="choice">{{ radio.tag }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="statement">{{ qa_form.happiness_qa.label }}</td>
                        {% for radio in qa_form.happiness_qa %}
                            <td class="choice">{{ radio.tag }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <br>

            {% if review_obj.is_cl_recs_review %}
            <div class="cluster_part">
                <h3>Cluster related part</h3>

                <div class="label">Select a property below which is in your opinion is the most relevant for the user</div>
                <div class="items_container">
                {% for item in items %}
                    <div class="item">
                        <label>
                            <input type="radio" name="clusters" value="{{ item.cl_id }}" {% if item.most_relevant %}checked{% endif %}/>
                            <img src="{{ item.image_url }}">
                        </label>

                        {% if item.url %}
                            <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>

                <div id="cluster_info"></div>
                <table class="likert">
                </table>
                <div class="label">Would you like to change the most relevant item to another one from the cluster? If yes, pick one from cluster's properties by clicking on it</div>
            </div>

            <br>
            {% endif %}

            <div id="submit_btn_container">
                <input class="btn" type="submit" value="Finish and submit review"/>
            </div>
        </form>
    {% else %}
        <h2>No recommendations</h2>
    {% endif %}
    </div>
{% endblock %}
