div.label {
    padding: 0;
    font-weight: bold;
}

.btn {
    background-color: #EDF3FE;
    padding: 10px;
    border: solid 1px #DDD;
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    outline: none;
    display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: rgba(0, 0, 255, 0.10);
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    margin-top: 1px;
    padding: 10px;
    background-color: #EDF3FE;
    display: none;
    border: solid 1px #DDD;
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.panel.table {
    display: table;
}
