.left{
    width: 35%;
    float: left;
    height: 100%
}

.right{
    width: 65%;
    float: left;
    height: 100%
}

.item{
    width: 150px;
    height: 150px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.item img{
    width: 100%;
    height: 100px;
}

.review label{
    display: block;
    font-weight: bold;
}

.review textarea{
    resize: vertical;
    width: 98%;
}

.cluster span{
    font-weight: bold;
}

.cluster h3{
    margin: 0 0 10px 0;
}

div.cluster{
    border: solid thin darkgrey;
    padding: 10px;
    margin: 7px 0;
}

div.info_msg{
    border: solid thin rgba(0, 114, 255, 0.5);
    border-radius: 10px;
    background: rgba(0, 114, 255, 0.3);
    padding: 7px;
    margin: 3px;
    font-size: 15pt;
}

div.error_msg{
    border: solid thin rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.3);
    padding: 7px;
    margin: 3px;
    font-size: 15pt;
}

div.hh_user_review div.label {
    padding: 0;
    font-weight: bold;
}

ul.radio  {
    padding: 0;
    margin: 5px 0 0 10px;
    list-style: none;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid rgba(255, 0, 0, 0.71);
}

/*.cluster ul{*/
    /*columns: 2;*/
    /*-webkit-columns: 2;*/
    /*-moz-columns: 2;*/
    /*margin-top: 0;*/
/*}*/
